{% extends 'campus_admin/base.html' %}

{% block content %}
<title> Add Faculty</title>
<div class="justify-content-center row" style="padding-bottom:50px;padding-top: 2%;">

    <div class="card bg-light border-success" style="width: 75%">
        <div class="text-center border-success row">
            <h1 class="card-header" style="padding: 3%;">Add Faculty</h1>
        </div>
        <div class="card-body text-success">
            <form class="row g-3" method="POST" action="{% url 'add-faculty' %}">
                {% csrf_token %}
                <div class="row g-3 align-items-center" >

                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        &nbsp;
                        <input type="number" class="form-control" required name="faculty_id" placeholder="Faculty ID">
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        &nbsp;
                        <input type="text" class="form-control" required name="name" placeholder="Faculty Name">
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        &nbsp;
                        <input type="number" class="form-control" required name="phone_no" placeholder="Phone No">
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <label for="profile">Profile Photo</label>
                        <input type="file" accept=".jpg, .png, .jpeg,tiff|image/*" class="form-control" id="profile"
                            required>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        &nbsp;                        
                        <div class="input-group mb-3">
                            <select class="form-select" aria-label=".form-select-lg example" required
                                name="branch_name">
                                <option selected>Branch Name</option>
                                {% for Branch_Name in BranchName %}
                                <option value="{{ Branch_Name.branch_name }}">{{Branch_Name.branch_name}}</option>

                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        &nbsp;
                        <label for="dofbirth">Date Of Birth</label>
                        <input type="date" class="form-control" id="dofbirth" required name="dob">
                    </div>
                    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                        &nbsp;
                        <textarea class="form-control" name="address" id="" rows="4" required
                            placeholder="Address"></textarea>
                    </div>
                    
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                    &nbsp;
                    <input type="password" class="form-control" id="pass" required name="password"
                        placeholder="password">
                    <input type="checkbox" onclick="myFunction()" id="pas">
                    <label for="pas">Show Password</label>
                </div>
        </div>
        <div class="text-center" style="padding-bottom:2% ;">
            <button type="submit" class="btn btn-secondary ustify-content-center row ">Submit</button>

        </div>
        </form>
    </div>
</div>
</div>

<!-- JavaScript -->
<script>
    function myFunction() {
        var x = document.getElementById("pass");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }

</script>

<form action="{% url 'add-branch' %}" method="post">
    {% csrf_token %}
    <div class="modal fade" id="branchName" tabindex="-1" aria-labelledby="branchNameLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="branchNameLabel">Add Branch</h1>
                <div style="float:right;">
                    <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            </div>
            <div class="modal-body">
                <div class="">
                    &nbsp;
                    <input type="text" class="form-control" required name="branch" id="branchName" placeholder="Branch_Name">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary "  >Save changes</button>
            </div>
        </div>
    </div>
</div>
</form>
{% endblock %}